body {
    background-color: rgb(20, 10, 58);
}

h1, h2, h3, h4, h5, h6, p {
   font-family: "Lato", sans-serif;
   color: white;
}

header {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

div, img {
    padding: 2.5%;
    background-color: rgb(40, 30, 78);
}